.img-preview{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
#drop-area{
    width: 500px;
    height: 300px;
    padding: 30px;
    background:#fff;
    text-align: center;
    border-radius: 20px;
}

#img-view{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-position: center;
    background-size: cover;
}
#image-view img{
    width: 100px;
    margin-top: 25px;
}
#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}
.img-wrapper{
    width:100%;
    overflow:hidden;
    height: 130px;
}
.btn-wrapper{
    display:flex;
    justify-content:space-between;
    margin-top:8px;
}